# Documentation files
HELP.md

# Build directories
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar

# IDE configuration files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# System files
.DS_Store
Thumbs.db

# Other files
*.class
*.jar
*.war
*.ear